.welcomeMessage {
    color: whitesmoke;
    font-size: 75px;
    font-family: fantasy;
    margin-top: -1000px;
    padding-left: 500px;
    padding-top: 500px;
    
}
    
body {
    background-color: black;
}

.back-image {
  width: 2000px;
  height: 1500px;
  margin: 0 auto;
   
  background-image: url(/images/deepSpace.jpg);
  background-repeat: repeat;
  background-position: center;
  min-height: 100px;
}

.mailing-list {
  color: whitesmoke;
  font-size: 15px;
  padding-left: 500px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar {

margin-top: -975px;
width: 2000px;
height: 1500px;

  
}